<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/events">Rechercher un évent</a></li>
            <li><a href="/">Ton compte</a></li>
        </ul>
    </nav>
</header>