<!DOCTYPE html>
<html lang="fr">
<%- include('./shared/head') %>
<body>
<%- include('./shared/header') %>
    <main>
        <h1>Ça va tâter le carton ou quoi ?</h1>
    </main>
<%- include('./shared/footer') %>
</body>
</html>